<!-- This is the not found html page -->
<div fxLayout="column">
    <!-- This is the mat-card -->
    <mat-card fxFlex fxLayout="column" class="mat-elevation-z0 main-container">
        <!-- This is the mat card content  -->
        <mat-card-content fxLayoutAlign="center" fxLayout="column">
            <!-- This is the not found image.  -->
            <img src="~/../../../../assets/not-found.jpg" alt="Not Found" width="80%" align="center">
            <br>
            <a href="https://www.freepik.com/vectors/space">Space vector created by stories - www.freepik.com</a>
            <br>
        </mat-card-content>
        <mat-card-actions align="end">
            <!-- this is the submit button to go to the homepage. if successfull. -->
            <button
                mat-raised-button 
                routerLink="/" 
                align="end"
                color="primary">
                Back Home
            </button>
        </mat-card-actions>
    </mat-card>
</div>
  