<!-- This is the about component.html page  -->
<div fxLayout="row wrap" class="main-container">
    <!-- Ths is the left column for the image -->
    <!--this tells Angular flex-layout that this is a flex element under a flex-row-->
    <div fxFlex fxLayout="column" class="stack">
      <div>
        <img src="~/../../assets/organize.jpg" alt="" width="90%">
      </div><br />
      <div>
        <em>
          Photographed by <a href="https://unsplash.com/photos/2JknzBYDu6k">Anete Lūsiņa</a>. 
        </em>
      </div>
    </div>
    <!--this tells Angular flex-layout that this is a flex element under a flex-row-->
    <!-- This is the right column for the description -->
    <div fxFlex class="stack">
      <h1 class="blue">What is NodeBucket?</h1>
        <p>NodeBucket is a simple application to help our clients stay organized. We know how sometimes we forget our post-its at home, or how difficult it is to read your own or someone else’s handwriting, and even sometimes the ‘notes’ on our smart phone can be pure chaos. That is why NodeBucket was created to help create and manage tasks easy and simple. It has a simple and responsive interface, which is compatible for all devices. Even your homeschooled child during COVID times can use it. <br>
        We hope you enjoy it.</p>
      <h1 class="blue">To Get Started:</h1>
      <p>Simply, press create task. <br>
        Type in your todo task like ‘take out garbage’. <br>
        When you are done with your task, go ahead and drag it to the done. <br>
        When you have made an error or want to remove it, you can click on the three dots and press remove.
      </p>
      <h1 class="blue">Version 2.0:</h1>
      <p>Simply, press create task. <br>
        We hope to add editing capabilities and reminders in the near future. 
      </p>
    </div>
  </div>
  