/* this is the login.css page. */
.login-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

.login-title {
    text-align:center;
    font-size: 48px;
    line-height: 58px;
    font-weight: lighter;
}

.login-subtitle {
    text-align: center;   
    font-size: 16px;
    line-height: 26px; 
}

.error-message {
    color:red;
    text-align:center;
}

/* Media queries for responsiveness  */
/* @media (max-width: 800px) {
    .login-title {
        font-size: 40px;
        line-height: 50px;
        font-weight: lighter;
    }
} */