<!-- this is the base layout html page. -->
<div fxLayout="column" class="container">

    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar fxLayout="row">
        <!-- navbar container -->
        <div class="navbar-container">
          <!-- logo -->
          <button class="logo" routerLink="/" mat-button>nodebucket</button>
          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink="/about" mat-button>About</button>
          <button class="navbar-link" mat-button (click)="signOut()" align="end">Sign Out</button>
        </div>
  
      </mat-toolbar>
    </nav>
  
    <!-- main content -->
    <div fxFlex="1">
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>
  
    <!-- footer -->
    <div fxFlex class="footer">
      <footer fxLayout="row">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://github.com/devanwong" class="bu-link" target="_blank">Devan Wong</a> | <a href="https://github.com/devanwong/nodebucket">NodeBucket's Repository</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>
  
  </div>
  
